<button {{action 'givePoints' this 5}}> Given 5 Points </button>
<button {{action 'takePoints' this 5}}> take 5 Points </button>
<button {{action 'destroyUser' this}}> Destroy</button>
<button {{action 'cancel'}}>Cancel</button>

