<form {{action "createUser" on="submit"}}>
  <div class="input">
    <label for="name">name:</label>
    {{input name="name" value=name}}
  </div>
  <div class="input">
    <label for="score">score:</label>
    {{input name="score" value=score}}
  </div>
  <div class="actions">
    <button type="submit">add User</button>
  </div>
</form>
